In [12]:
import pandas as pd
import numpy as np

Создайте `pandas.Series` из листа `lst`.

In [13]:
lst = list('zyxwvutsr')

series = pd.Series(lst)
print(series)

0    z
1    y
2    x
3    w
4    v
5    u
6    t
7    s
8    r
dtype: object

На основе листа `lst` и массива `arr` сформируйте словарь и cоздайте `pandas.Series` из получившегося словаря.

In [14]:
lst = list('abced')
arr = np.arange(5)

d = dict(zip(lst, arr))
series  = pd.Series(d)
print(series)

a    0
b    1
c    2
e    3
d    4
dtype: int64

Переведите `pandas.Series` (переменная `s`) в `pandas.DataFrame` таким образом, чтобы индекс стал отдельной колонкой датафрейма.

Используйте `print()` чтобы распечатать получившийся pandas.DataFrame.

Подсказка:

`pandas.Series.to_frame`

In [11]:
s = get_series()

print(s.to_frame().reset_index())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

Объедините два `pandas.Series (s1, s2)` таким образом чтобы получился `pandas.DataFrame` не используя конструктор!

Подсказка:

`pandas.concat`

In [23]:
s1 = pd.Series(list('abced'))
s2 = pd.Series(np.arange(5))

print(pd.concat([s1, s2], ignore_index=True, axis=1))

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

Объедините два pandas.Series (переменные `s1`, `s2`) таким образом чтобы получился `pandas.DataFrame`.
 
Используйте конструктор DataFrame.

In [25]:
s1 = pd.Series(list('abced'))
s2 = pd.Series(np.arange(5))

print(pd.DataFrame({'col1': s1, 'col2': s2}))

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

Присвойте индексу `pandas.Series` имя `characters`.

In [26]:
s = pd.Series(list('abced'))

s.name = 'characters'
print(s)

0    a
1    b
2    c
3    e
4    d
Name: characters, dtype: object

Получите элементы `s1`, которые не присутствуют в `s2`.

Подсказка: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html

In [35]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

print(s1.loc[~s1.isin(s2)])

0    1
1    2
2    3
dtype: int64

Создайте новый `pandas.Series` из элементов, которые присутствуют только в одном из двух `pandas.Series` (переменные `s1`, `s2`). Если элемент присутствует в двух `Series`, то выводить его не надо.
 
Подсказка:

`numpy.union1d`

`numpy.intersect1d`

In [43]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

pd.DataFrame([s2, s1]).T

   0  1
0  4  1
1  5  2
2  6  3
3  7  4
4  8  5

In [67]:
union = pd.Series(np.union1d(s1, s2))
mask = np.isin(np.union1d(s1, s2), np.intersect1d(s1, s2),  invert=True)
print(union[mask])

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [69]:
union = pd.Series(np.union1d(s1, s2))
print(union[~union.isin(np.intersect1d(s1, s2))])

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

Имея данные в `pandas.Series` (переменная `s1`) рассчитайте:

    наименьшее значение
    25 перцентиль
    медиану
    75 перцентиль
    наибольшее значение

Подсказка:

`numpy.percentile`

In [70]:
lst = [12.53904795,  5.68886327, 16.24734871,  9.60194377,  5.55134259,
        5.59100805, 10.09319475, 11.18922311, 10.06774274,  1.822353]

s1 = pd.Series(lst)

count    10.000000
mean      8.839207
std       4.193610
min       1.822353
25%       5.615472
50%       9.834843
75%      10.915216
max      16.247349
dtype: float64

In [92]:
print(s1.min(),
      np.percentile(s1, 25),
      np.percentile(s1, 50),
      np.percentile(s1, 75),
      s1.max()
     )

1.822353 5.615471855 9.834843255 10.91521602 16.24734871

5.4286019275